# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# Environment Variables
.env

# Upload files
uploads/*
!uploads/.gitkeep

# Processed files
processed/*
!processed/.gitkeep

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db